* {
    box-sizing: border-box;
  }
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #B0A8B9;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#home{
    background-image: linear-gradient(to bottom, #695761, #6f5e6d, #746679, #776f85, #787891, #7d7f98, #8286a0, #878da7, #9293ac, #9d9ab0, #a7a1b4, #b0a8b9);
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
header nav {
    background-color:#695761;
    height: 40px;
    display: flex;
    justify-content:flex-start;
    align-items:center;   
}
a {
    margin-left: 5%;
    text-decoration: none;
    color: rgb(138, 136, 136);
    transition: all .2s ease;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    
}
a:hover {
    color: black;
    font-weight: 400;
}
h2{
    color: rgb(204, 200, 200);
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#main {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 120px;
}
#input{
    width: 80%;
    height: 50px;
    border: solid;
    border-color: rgb(223, 220, 220);
    background-color: rgb(223, 220, 220);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 32%;
}
#input:focus{
    outline: none;
}
.input input:focus{
    outline: none;
}

#btnSubmit{
    position:absolute;
    right:35%;
  top: 20%;
  left: 53%;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  color: white;
  height: 95px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all .2s ease;
    background-color: #04AA6D;
}
#btnSubmit:hover{
    color: black;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.2), 6px 10px 10px 6px rgba(0, 0, 0, 0.19);
}
 #btnClear{
     position: fixed;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  color: white;
  height: 95px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all .2s ease;
    background-color: #aa0404;
  top: 20%;
  left: 57%;
  right:30%; 
}
#btnClear:hover{
    color: black;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.2), 6px 10px 10px 6px rgba(0, 0, 0, 0.19);
} 
.dropDowns{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    width: 120%;
    margin-top: 77%;
    margin-left: -150%;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(82, 56, 69, 0.2);
    background-color:rgb(223, 220, 220);
}
.dropDowns select:focus{
    outline: none;
}
.dropDowns select{
    font-size: 18px;
    border: none;
    background: none; 
    cursor: pointer;
    
}
.sort{
    width: 60px;
}
.perPage{
    width: 110px;
    margin-left: 10%;
}
.grid{
    display:grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    height: 100vh;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
.grid img{
    width: 250px;
    height: 200px;
    cursor: pointer;
}
.hover-shadow:hover {
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.2), 6px 10px 10px 6px rgba(0, 0, 0, 0.19);
} 
#myLightbox {
    display: none;
    background-color: rgba(17, 16, 16, 0.801);
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.lightbox-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 30%;
    max-height: 60%;
}
.mySlides {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.mySlides > img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    border:  none;
    border-radius: 8px;
    /* margin-bottom: -4px; */
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(126, 106, 106);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.637);
}

/* footer {
    background-color: lightslategray;
    display: flex;
    justify-content: flex-end;
    margin-top: 20%;
    width: 100%;
    height: 270px;
    padding: 4rem 6rem 4rem 2rem;
} */
/* footer article {
    padding: 15px;
    margin-bottom: 30px;
    background-color: white;
    width: auto;
    height: 200px;
    border: rgb(82, 54, 12);
    border-radius: 5%;
}
#summary{
    margin-right: 20px;
}
#summary >h3 > a{
    margin-left: 150px;
}
#contact div{
    display: flex;
    align-items: center;
    margin: auto;
}
#contact > div > span{
    margin-left: 15px;
} */
